{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="font-sans">
		<nav class="flex justify-center gap-4 p-5 bg-gray-200">
			<a href="{% url 'index' %}">Home</a>
			<a href="{% url 'books' %}">Books</a>
			<a href="{% url 'articles' %}">Articles</a>
			<a href="{% url 'account' %}">Account</a>
		</nav>
	</body>
    
</html>
