{% extends "app/layout.html" %}

{% block body %}
    <div class="d-flex justify-content-center flex-wrap align-items-center gap-4 p-4 border border-1 mb-5">
        <h1 class="h2">Browse {{ content_type|capfirst }}s</h1>
        <div>
            <input type="text" id="search" class="form-control-lg" placeholder="Search {% if content_type == 'book' %}Books{% else %}Articles{% endif %}">
        </div>
        <div>
            <select id="sort" class="form-select-lg">
                <option value="-date_created" selected="selected">Latest</option>
                <option value="date_created">Oldest</option>
                <option value="-user_favorited">Most Popular</option>
                <option value="title">Alphabetical</option>
            </select>
        </div>
        <div>
            <select id="category-filter" class="form-select-lg">
                <option value="undefined" selected="selected">All {{ content_type|capfirst }}s</option>
                {% for category in categories %}
                    <option value="{{ category.name }}"><i class="fa-solid {{ category.icon }}"></i>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% if content_type == 'book' %} {% url 'create_book' %} {% else %} {% url 'create_article' %} {% endif %}" class="btn btn-primary">Create</a>
        {% endif %}
    </div>
    <div id="list-container" data-content-type="{{ content_type }}" class="d-flex flex-wrap justify-content-center gap-4 pb-5 px-5">
        {% for content in content_list %}
            {% include "app/card.html" with display="d-flex" container="favorites" %}
        {% empty %}
            <h2>No {{ content_type }} for now..</h2>
        {% endfor %}
    </div>

    <!--A template that will be used by javascript-->
    {% include "app/card.html" with display="d-none" id="template" %}
{% endblock %}