{% extends "app/layout.html" %}

{% block body %}
    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username" class="form-control">
        </div>
        <div class="mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
{% endblock %}