body, html  {
    min-height: 100%;
}

a {
    text-decoration: none !important;
}

i {
    transition: color 1s ease-in-out;
}

#content {
    width: 80rem;
}

.card {
    z-index: 1;
    width: 300px;
    height: auto;
}

.url, .favorite {
    cursor: pointer;
}

.is-favorite {
    color: #FFC906;
}

.not-favorite {
    color: black;
}

.show-btn {
    border: none;
    background: none;
}